<h1>Flights</h1>
<% @flights.each_with_index do |flight, index| %>
  <div id="index-<%= index %>">
    <h2>Flight: <%= flight.number %><%= flight.airline.name %></h2>
    <% flight.passengers.each do |passenger| %> 
      <p><%= passenger.name %></p>
      <% end %>
  </div>
<% end %>
