<h1>Flights' Index</h1>

<% @flights.each do |flight| %>
  <div id='flight-<%= flight.id %>'>
    <h2>Flight: <%= flight.number %></h2> <h3>Airline: <%= flight.airline.name %></h3><br>
    <h3>Passengers:</h3><ul>
      <% flight.passengers.each do |pass| %>
        <li><%= pass.name %></li>
      <% end %>
    </ul>
  </div>
<% end %>