<p><h1>All Flights</h1></p>

<% @flights.each do |flight| %>
<p>Flight: <%= flight.number %> || <%= flight.airline.name %></p>
<p>Passengers</p><hr>
<% flight.passengers.each do |passenger| %>
<p> <%= passenger.name %> </p>
<% end %>
<hr>
<% end %>
