<h1>Flights Index</h1>
<% @flights.each do |flight| %>

<div id="flightDetails<%= flight.id %>">
  <p><%= "#{flight.number}- #{flight.airline.name}" %></p>
<ul>
  Passengers:
  <% flight.passenger_flights.each do |pass| %>
  <li><%= pass.passenger.name %></li>
  <% end %>
</ul>
</div>
<% end %>
