<h1>Airline Show Page</h1>

<h3>Airline: <%= @airline.name %></h3>

<h4>List of Adult Passengers: </h4>
<% @airline.sort_adult_passengers_by_flight_count.each do |passenger| %>
    <p><%= passenger.name %></p>
<% end %>