<h><%= @airline.name %> Show Page</h1>

  <div id='passengers'>
    Passengers:<br>
    <% @airline.adult_passengers_by_flights.each do |p| %>
      <%= p.name %> Flights: <%= p.flights.count %><br>
    <% end %>
  </div>
