<h1><%= @airline.name %></h1>

<h3>Passenger Manifest:</h3>
<ol>
<% @airline.frequent_flyers.each_with_index do |passenger, index| %>
  <div id="passenger-<%= index %>">
    <li><%= passenger.name %></li>
  </div>
<% end %>
</ol>