<h1><%= @airline.name %></h1>

<div id="passengers">
  <% @airline.adult_passengers.each do |adult| %>
    <p>
      <strong><%= adult.name %></strong>
      Flight Count:
      <%= adult.count %>
    </p>
  <%end %>
</div>